.u-margin-bottom-bigest-2 {
    margin-bottom: 8rem;
}

.u-margin-bottom-bigest {
    margin-bottom: 5.6rem;
}

.u-margin-bottom-big {
    margin-bottom: 4.4rem;
}

.u-margin-bottom-medium-6 {
    margin-bottom: 4rem;
}

.u-margin-bottom-medium-5 {
    margin-bottom: 3.6rem;
}

.u-margin-bottom-medium-4 {
    margin-bottom: 3.2rem;
}

.u-margin-bottom-medium-3 {
    margin-bottom: 2.8rem;
}

.u-margin-bottom-medium-2 {
    margin-bottom: 2.4rem;
}

.u-margin-bottom-medium {
    margin-bottom: 1.6rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.2rem;
}

.u-margin-bottom-smallest {
    margin-bottom: 4px !important;
}

.u-margin-top-small {
    margin-top: 1.6rem;
}

.u-margin-top-medium {
    margin-top: 2.3rem;
}

.u-margin-right-medium {
    margin-right: 1.4rem;
}

.u-padding-left {
    margin-left: 3.2rem;
}

.u-text-center {
    text-align: center;
}

.u-text-color-d-g-3 {
    color: $color-dark-grey-3;
}

.u-text-color-d-g {
    color: $color-greeen-dark;
}

.u-border-b-none {
    border-bottom: none !important;
}

.u-flex-center {
    display: flex;
    align-items: center;
}