// COLORS

$color-white: #fff;
$color-black: #12141d;
$color-coral: #ff715b;
$color-red: #ff2200;
$color-orange: #fb4f34;

$color-dark-grey-1: #3a3c45;
$color-dark-grey-2: #697077;
$color-dark-grey-3: #8b929a;
$color-light-grey-1: #d4dae1;
$color-light-grey-2: #eff0f2;
$color-light-grey-3: #f7f8f9;

$color-greeen-dark: #12af6d;
$color-green-light: #38f094;

// TYPOGRAPHY

$font-size-default: 1.4rem;
